@import "../variables";

.slider__slide {
  display: flex;
  flex-direction: row;
  height: 500px;
  overflow: hidden;
  border-radius: $space-default - 2;
}
.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 33%;
  padding: $space-xl * 2;
  background: url("../img/slider-background.png") center no-repeat;
  text-align: center;
}
.slider__image__1 {
  width: 67%;
  background-image: url(../img//slider/slider-image-1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__image__2 {
  width: 67%;
  background-image: url(../img//slider/slider-image-2.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__image__3 {
  width: 67%;
  background-image: url(../img//slider/slider-image-3.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__title {
  font-size: $fz-xl/2;
  font-weight: $font-bold;
  line-height: 36px;
}

.slider__text {
  font-size: $fz-default;
  font-weight: $font-semibold;
}

.slider__image {
  max-width: 100%;
  overflow: hidden;
}
