/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&subset=cyrillic");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 100%;
  background-color: #2b2b2b;
  -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.sidebar__menu {
  margin: auto 0;
}

.sidebar.sidebar--mobile {
  right: 0;
  width: 100%;
}

.menu__item {
  margin-bottom: 40px;
  font-weight: 600;
  text-align: center;
}

.menu__item--second {
  margin-bottom: 25px;
  font-weight: 500;
}

.menu--sidebar {
  margin: auto 0;
}

.menu__item--second:last-child {
  margin: 0;
}

.logo {
  display: block;
  width: 150px;
  height: 100px;
  background: url("../img/logo.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.logo--large {
  width: 340px;
  -webkit-background-size: contain;
          background-size: contain;
}

.logo--sidebar {
  margin-top: 100px;
}

.contacts__logo {
  background: url("../img/logo_second.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.logo--header {
  position: relative;
  top: -8px;
  width: 70px;
  height: 50px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 75px 0;
}

.section__header {
  margin-left: 75px;
}

.section__content {
  margin: 50px 0 0;
}

.section__content--without-heading {
  margin: 0;
}

.section__title {
  margin-bottom: 40px;
  font-size: 28px;
}

.section--top {
  padding-top: 0;
}

.section--last {
  padding-bottom: 0;
}

.separator {
  display: block;
  width: 100px;
  height: 5px;
  background-color: #e32d41;
}

.separator--menu {
  margin: 0 auto 40px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 300px;
  padding: 40px 0 40px 250px;
  background-color: #2b2b2b;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.footer__copyright {
  margin: 20px 0 0;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-align: center;
}

.footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__phones {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__phone {
  position: relative;
  margin-left: 28px;
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.footer__phone::before {
  display: block;
  position: absolute;
  left: -28px;
  width: 18px;
  height: 18px;
  background: url("../img/social_icons/mts.png") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  content: "";
}

.footer__phone:nth-child(1)::before {
  background: url("../img/social_icons/velcom.png") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
}

.footer__link::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/social_icons/inst.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  content: "";
}

.footer__link:nth-child(2)::before {
  background: url("../img/social_icons/vk.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__link:nth-child(3)::before {
  background: url("../img/social_icons/wa.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__link:nth-child(4)::before {
  background: url("../img/social_icons/viber.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__link:nth-child(5)::before {
  background: url("../img/social_icons/telegram.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.footer__link:nth-child(6)::before {
  background: url("../img/social_icons/mail.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.btn {
  padding: 20px 45px;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: -webkit-linear-gradient(315deg, #ae0f27 0%, #e6193a);
  background: -moz-linear-gradient(315deg, #ae0f27 0%, #e6193a);
  background: -o-linear-gradient(315deg, #ae0f27 0%, #e6193a);
  background: linear-gradient(135deg, #ae0f27 0%, #e6193a);
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none !important;
}

.btn--callback {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 20px 0;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: -webkit-linear-gradient(315deg, #ae0f27 0%, #e6193a);
  background: -moz-linear-gradient(315deg, #ae0f27 0%, #e6193a);
  background: -o-linear-gradient(315deg, #ae0f27 0%, #e6193a);
  background: linear-gradient(135deg, #ae0f27 0%, #e6193a);
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.btn__title-wrapper {
  position: relative;
  margin-left: 20px;
}

.btn__title-wrapper::before {
  display: block;
  position: absolute;
  top: -2px;
  left: -40px;
  width: 25px;
  height: 25px;
  background: url("../img/icons/phone-call-button.svg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  content: "";
}

.btn--dark {
  width: 220px;
  margin-bottom: 15px;
  padding: 20px 40px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #494949;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.btn--section {
  min-width: 100px;
  margin: 50px auto 0;
}

.btn--custom_callback {
  display: inline-block;
  margin: 25px auto;
}

.content {
  max-width: 100%;
  margin-left: 250px;
  padding: 60px 180px;
  overflow: hidden;
}

.comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__block {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0px 23px 65px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 23px 65px 0px rgba(0, 0, 0, 0.2);
  margin: 50px 0;
}

.comment__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}

.comment__author {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.comment__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.comment__photo {
  display: block;
  min-width: 128px;
  height: 128px;
  margin-right: 50px;
  background-repeat: no-repeat !important;
}

.comment__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  border-top: 1px solid #eeeeee;
  color: #909090;
  font-size: 14px;
  font-weight: 600;
}

.comment__link {
  position: relative;
  margin-left: 25px;
  line-height: 25px;
}

.comment__link::before {
  display: block;
  position: absolute;
  top: -1px;
  left: -30px;
  width: 25px;
  height: 25px;
  background: url("../img/social_icons/inst-com.svg") center no-repeat;
  content: "";
}

.comment__date {
  line-height: 25px;
}

.comment__author--hidden {
  display: none;
  margin: 25px 0;
  text-align: center;
}

.callback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.callback.section {
  overflow: visible;
}

.callback__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 450px;
  margin-right: 75px;
  margin-left: 200px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 23px 65px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 23px 65px 0px rgba(0, 0, 0, 0.2);
}

.callback__form::before {
  display: block;
  z-index: -1;
  position: absolute;
  top: -10%;
  left: -48%;
  width: 120%;
  height: 120%;
  background: url("../img/bmw-call.png") no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
          background-size: contain;
  content: "";
}

.callback__info {
  width: 500px;
}

.callback-info__content {
  margin-top: 60px;
  margin-left: 75px;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.callback__form--popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup .callback__form {
  margin: 0;
}

.popup .callback__form::before {
  display: none;
}

.contacts__map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 500px;
  padding-right: 100px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: url("../img/map.jpg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.contacts__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 65px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 65px 0px rgba(0, 0, 0, 0.3);
}

.contacts__side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding: 30px;
}

.contacts--links {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #f8f8f8;
  text-align: center;
}

.contacts__text {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 600;
}

.contacts__image {
  display: block;
  width: 75px;
  height: 75px;
  margin-bottom: 40px;
  background: url("../img/mapicon.svg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.contacts__logo {
  width: 100%;
  margin-bottom: 20px;
  -webkit-background-size: contain;
          background-size: contain;
}

.contacts__point {
  position: relative;
  padding-bottom: 20px;
  padding-left: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.contacts__point:last-child {
  padding-bottom: 0;
}

.contacts__point::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  -webkit-background-size: contain;
          background-size: contain;
  content: "";
}

.contacts__point:nth-child(2)::before {
  width: 32px;
  height: 32px;
  background: url("../img/icons/pin.svg") center no-repeat;
}

.contacts__point:nth-child(3)::before {
  background: url("../img/icons/phone-con.svg") center no-repeat;
}

.contacts__point:nth-child(4)::before {
  background: url("../img/icons/clock.svg") center no-repeat;
}

.contacts__point:last-child::before {
  top: -8px;
  background: url("../img/icons/mail.svg") center no-repeat;
}

.about {
  position: relative;
}

.about__text {
  position: relative;
  width: 750px;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}

.about::before {
  display: block;
  z-index: -1;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 399px;
  background: url(../img/about.png) right no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  content: "";
}

.offers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.offers__separator {
  display: block;
  width: 2px;
  margin: 10px 0;
  background-color: #e6e6e6;
}

.offers__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
  text-align: center;
}

.offers .separator {
  margin: 0 auto 25px;
}

.offers-separator {
  display: block;
  width: 2px;
  height: 100%;
  margin-bottom: 25px;
  background-color: #e6e6e6;
}

.offers__image {
  width: 95px;
  height: 95px;
  margin: 0 auto 25px;
}

.offers__title {
  height: 75px;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 24px;
}

.offers__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.slider__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 500px;
  overflow: hidden;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.slider__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33%;
  padding: 50px;
  background: url("../img/slider-background.png") center no-repeat;
  text-align: center;
}

.slider__image {
  width: 67%;
  background-image: url(../img//slider/slider-image-1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.slider__image--second {
  background-image: url(../img//slider/slider-image-2.png);
}

.slider__image--third {
  background-image: url(../img//slider/slider-image-3.png);
}

.slider__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.slider__text {
  font-size: 18px;
  font-weight: 600;
}

.slider__image {
  max-width: 100%;
  overflow: hidden;
}

.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.services__item {
  position: relative;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#ae0f27), to(#e6193a));
  background: -webkit-linear-gradient(left, #ae0f27 0%, #e6193a);
  background: -moz-linear-gradient(left, #ae0f27 0%, #e6193a);
  background: -o-linear-gradient(left, #ae0f27 0%, #e6193a);
  background: linear-gradient(90deg, #ae0f27 0%, #e6193a);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.services__item:hover {
  -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}

.services__item:hover > .services-btn {
  text-decoration: underline;
}

.services__wrapper {
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  z-index: 0;
  padding: 25px;
}

.services__item .separator {
  margin: 25px auto;
}

.services-btn {
  line-height: 50px;
  font-weight: 600;
  font-size: 14px;
}

.services__price {
  font-size: 28px;
  font-weight: 700;
}

.services__header {
  font-size: 15px;
  line-height: 20px;
  height: 65px;
}

.services__wrapper::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
}

.grid__item:nth-child(1) .services__wrapper {
  background-image: url("../img/images/photo_6.jpg");
}

.grid__item:nth-child(2) .services__wrapper {
  background-image: url("../img/images/photo_7.jpg");
}

.grid__item:nth-child(3) .services__wrapper {
  background-image: url("../img/images/photo_8.jpg");
}

.grid__item:nth-child(4) .services__wrapper {
  background-image: url("../img/images/photo_9.jpg");
}

.grid__item:nth-child(5) .services__wrapper {
  background-image: url("../img/images/photo_10.jpg");
}

.grid__item:nth-child(6) .services__wrapper {
  background-image: url("../img/images/photo_11.jpg");
}

.grid__item:nth-child(1) .services__wrapper--camera {
  background-image: url("../img/images/photo_11.jpg");
}

.grid__item:nth-child(2) .services__wrapper--camera {
  background-image: url("../img/images/photo_11.jpg");
}

.grid__item:nth-child(3) .services__wrapper--camera {
  background-image: url("../img/images/photo_11.jpg");
}

.form {
  padding: 40px 40px 0 40px;
  background: #fff;
}

.form__footer {
  margin: 0 -40px;
  padding: 20px 40px;
  border-top: 1px solid #e2e2e2;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.callback__form--popup {
  padding-top: 50px;
}

.callback__form--popup h4 {
  padding-bottom: 20px;
}

.input {
  padding: 20px 20px 20px 50px;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #f3f3f3;
}

.input--alert {
  border: 1px solid #e32d41;
}

.input__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 25px;
}

.input__title {
  position: relative;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.input__title::before {
  display: block;
  position: absolute;
  top: 42px;
  left: 12px;
  width: 25px;
  height: 25px;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icons/user.svg");
  content: "";
}

.input__confidential-title {
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.input__confidential {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.input__confidential-checkbox {
  display: none;
}

.input__confidential--alert {
  color: #e32d41;
}

.input__confidential-title::before {
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../img/icons/checkbox_disabled.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  content: "";
}

.input__confidential-checkbox:checked + .input__confidential-title::before {
  background: url("../img/icons/checkbox.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.input__wrapper:nth-child(2) .input__title::before {
  background-image: url("../img/icons/phone-call.svg");
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.gallery__item {
  display: block;
  position: relative;
  width: -webkit-calc(100% / 5 - 50px);
  width: -moz-calc(100% / 5 - 50px);
  width: calc(100% / 5 - 50px);
  margin: 25px;
  overflow: hidden;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.gallery__item:before {
  display: block;
  padding-top: 100%;
  content: "";
}

.gallery__image {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.header {
  display: none;
  z-index: 20;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  background-color: #2b2b2b;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.header.scrollUp {
  -webkit-transform: translateY(-80px);
     -moz-transform: translateY(-80px);
      -ms-transform: translateY(-80px);
       -o-transform: translateY(-80px);
          transform: translateY(-80px);
}

.menu-btn {
  display: block;
  z-index: 11;
  position: absolute;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.menu-btn--close {
  position: fixed;
  right: 20px;
}

.menu-btn li {
  display: block;
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  background-color: #fff;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.menu-btn li:nth-child(1) {
  top: 0px;
}

.menu-btn li:nth-child(2),
.menu-btn li:nth-child(3) {
  top: 8px;
}

.menu-btn li:nth-child(4) {
  top: 16px;
}

.menu-btn--close li:nth-child(1) {
  top: 8px;
  right: 50%;
  width: 0%;
}

.menu-btn--close li:nth-child(2) {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn--close li:nth-child(3) {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-btn--close li:nth-child(4) {
  top: 8px;
  right: 50%;
  width: 0%;
}

.slider-dots {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.slider-dots li {
  display: inline-block;
  margin-left: 10px;
}

.slider-dots button {
  width: 20px;
  height: 20px;
  border: 1px solid #f8f8f8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 23px 65px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 23px 65px 0px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0);
  font-size: 0;
}

.slick-active button {
  border-color: #e32c41;
  background-color: #e32c41;
}

.grid {
  margin: -25px;
}

.grid--vertical {
  margin: -50px 0;
}

.grid__item {
  padding: 25px;
  width: -webkit-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: calc(100% / 3);
}

.popup {
  display: none;
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup__wrapper {
  display: block;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  padding: 50px;
  -webkit-transform: translate3d(-50%, -50%, 0);
     -moz-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #fff;
}

.popup__content {
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
  line-height: 22px;
}

.popup__content p {
  margin: 10px 0;
}

.popup__close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/icons/close.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;
}

.tips {
  margin: -50px 0;
}

.tips__item {
  padding-left: 100px;
  position: relative;
  margin: 50px 0;
}

.tips__header {
  font-size: 20px;
  font-weight: 700;
}

.tips__body {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.tips__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/icons/1.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}

.tips__item:nth-child(2)::before {
  background-image: url("../img/icons/2.svg");
}

.tips__item:nth-child(3)::before {
  background-image: url("../img/icons/3.svg");
}

.tips__item:nth-child(4)::before {
  background-image: url("../img/icons/4.svg");
}

.tips__item:nth-child(5)::before {
  background-image: url("../img/icons/5.svg");
}

.license {
  z-index: 1000;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

.body--hidden {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.lg-backdrop.in {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

@media screen and (max-width: 1750px) {
  .content {
    padding: 100px;
  }
  .callback__info {
    padding-right: 25px;
  }
}

@media screen and (max-width: 1550px) {
  .content {
    padding: 60px;
  }
  .callback__form {
    margin: 0;
  }
  .callback__form::before {
    background: none;
  }
  .header--callback {
    margin-left: 0;
  }
  .callback-info__content {
    margin-left: 0;
  }
}

@media screen and (max-width: 1440px) {
  .contacts__map {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0;
  }
  .contacts__box {
    width: 80%;
  }
}

@media screen and (max-width: 1279px) {
  .about::before {
    display: none;
  }
  .about__text {
    width: 100%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1250px) {
  .about__text {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1150px) {
  .sidebar {
    left: 0;
  }
}

@media screen and (max-width: 1149px) {
  .sidebar {
    right: -300px;
  }
  .content {
    margin-left: 0px;
  }
  .footer {
    padding-left: 0;
  }
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
  }
  .scroll {
    padding-top: 75px;
  }
  .logo--sidebar {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .callback-info .section__header,
  .callback-info .callback-info__content {
    padding-right: 0;
    padding-right: 25px;
    padding-left: 0;
  }
  .callback {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .callback__info {
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
  }
  .separator--centered {
    margin: 0 auto;
  }
  .slider__content {
    width: 50%;
  }
  .slider__image {
    width: 50%;
  }
  .footer {
    height: auto;
  }
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    height: 400px;
  }
}

@media screen and (max-width: 820px) {
  .slider__slide {
    height: 400px;
  }
  .content {
    padding: 40px;
  }
  .offers__separator {
    width: 80%;
    height: 2px;
    margin: 60px 0;
  }
  .offers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offers__item {
    min-width: 50%;
  }
  .gallery {
    padding: 10px;
  }
  .gallery__item {
    width: -webkit-calc(100% / 3 - 30px);
    width: -moz-calc(100% / 3 - 30px);
    width: calc(100% / 3 - 30px);
    margin: 15px;
  }
  .gallery__item--hide {
    display: none;
  }
  .comment__author {
    display: none;
  }
  .comment__author--hidden {
    display: block;
  }
  .comment__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comment__photo {
    margin: 0;
  }
  .contacts__box {
    width: 100%;
  }
  .contacts__map {
    height: auto;
    background: none;
  }
  .contacts__box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (max-width: 660px) {
  .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider__slide {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: auto;
  }
  .slider__content {
    width: 100%;
    height: 400px;
  }
  .slider__image {
    width: 100%;
    height: 200px;
  }
  .tips__item {
    padding-left: 40px;
  }
  .tips__item::before {
    width: 25px;
    height: 25px;
  }
  .tips__header {
    font-size: 20px;
  }
  .tips__body {
    font-size: 14px;
  }
  .callback-info .section__header .section__title {
    text-align: left;
  }
  .callback-info .section__header .separator {
    margin: 0;
  }
  .offers__item {
    width: 80%;
  }
  .callback__form {
    width: 100%;
  }
  .input__confidential-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  .input__confidential-title::before {
    width: 18px;
    height: 18px;
  }
  .comment__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment__photo {
    margin: 0;
    padding: 0;
  }
  .contacts__side {
    width: 100%;
  }
  .logo--phones {
    width: 240px;
  }
  .about__text {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
  }
  .section__header {
    margin: 0;
  }
  .section__title {
    text-align: center;
  }
  .separator--section {
    margin: 0 auto;
  }
  .callback__info,
  .callback__form {
    width: 100%;
    min-width: 0;
  }
  .grid__item {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .content {
    padding: 25px;
  }
  .popup__wrapper {
    padding: 50px 10px 10px 10px;
  }
}

@media screen and (max-width: 375px) {
  .gallery {
    padding: 0;
  }
  .gallery__item {
    width: -webkit-calc(100% / 3 - 10px);
    width: -moz-calc(100% / 3 - 10px);
    width: calc(100% / 3 - 10px);
    margin: 5px;
  }
  .portfolio.grid {
    margin-right: -15px;
    margin-left: -15px;
  }
  .grid__collumn,
  .callback,
  .contacts {
    margin-right: -25px;
    margin-left: -25px;
  }
  .callback__info {
    padding-right: 10px;
    padding-left: 10px;
  }
  .popup.callback {
    margin: 0;
  }
  .popup .form,
  .form {
    padding: 50px 20px 0;
  }
}

@media screen and (max-height: 560px) {
  .logo--sidebar {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .slider__image--first {
    display: none;
  }
  .slider-dots {
    position: absolute;
    bottom: -33px;
  }
  #about {
    padding-top: 100px;
  }
}

