$color-accent: #e32d41;
$color-sidebar-text: #ffffff;
$color-background: #ffffff;
$color-background-sidebar: #2b2b2b;
$color-main-text: #222222;
$color-button-background: linear-gradient(135deg, #ae0f27 0%, #e6193a);
$color-footer-text: #aaaaaa;
$color-footer-icons: #f8f8f8;
// --- COLORS
$space-sm: 5px;
$space-default: 10px;
$space-md: 15px;
$space-lg: 20px;
$space-xl: 25px;
// --- SPACES
$fz-sm: 14px;
$fz-default: 18px;
$fz-md: 20px;
$fz-lg: 28px;
$fz-xl: 48px;
// --- FZ-SIZES
$b-radius: 8px;
// --- APPERANCE
$font-semibold: 600;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
// --- FONT
$shadow: 0px 23px 65px 0px rgba(0, 0, 0, 0.2);
